<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Social Media Thingy - Home</title>
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="script" href="../static/js/functions.js">
</head>
<body>
<nav class="nav nav-topbar">
    <a href="homepage.html" class="nav nav-button" id="nav-home">Home</a>
    <a href="projects.html" class="nav nav-button" id="nav-projects">Projects</a>
    <a href="profile.html" class="nav nav-button" id="nav-profile">Profile</a>
    <a href="settings.html" class="nav nav-button" id="nav-settings">Settings</a>
</nav>
<div id="content"></div>
</body>
</html>