<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messaging - Startup Central</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/standard.css">
    <link rel="stylesheet" href="/static/css/tiles.css">
    <link rel="stylesheet" href="/static/css/messaging.css">
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/factories.js"></script>
</head>
<body onload="setUp();">
<nav class="nav nav-topbar">
    <a href="/homepage" id="nav-home">Home</a>
    <a href="/projects" id="nav-projects">Projects</a>
    <a class="nav-selected" href="/messaging" id="nav-messaging">Messaging</a>
    <a href="/profile" id="nav-profile">Profile</a>
    <div class="settings-wrapper">
    <a onclick="this.classList.toggle('toggle')" id="nav-settings">Settings</a>
    <div id="settings-drop-down">
        <label class="light-mode-toggle">
            Light Mode
            <input type="checkbox" onclick="toggleLightMode()">
            <span class="slider round"></span>
        </label>
    </div>
    </div>

</nav>
<div id="content">
    <div class="messaging-window">
        <div class="messaging-contacts">
            <div class="contacts-header">Contacts</div>
            <div class="contact-cards-wrapper">
            <div class="contact-card current">
                <div class="contact-name">Jonathan Macias</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Nick Macrae</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Joeseph Brown</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Ethan Blanton</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">John Tantillo</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Linus Torvalds</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Brian Fox</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Elon Musk</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bill Gates</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Mark Zuckerburg</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Jacob Snyderman</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
        </div>
        </div>
        <div class="messaging-conversation">
            <div class="conversation-header">
                Bobby DropTables
            </div>
            <div class="conversation-content">
                <div class="message received">
                    Hey how is StartupCentral going?
                </div>
                <div class="message sent">
                    It's going well, we've definitely been challenged but we have tried our best to overcome those challenges.
                </div>
                <div class="message received">
                    Would you care to explain what StartupCentral is about?
                </div>
                <div class="message sent">
                    StartupCentral is a project based platform that serves the project. It allows for similar projects to find eachother and for projects to recruit developers with the relevant skills.
                </div>
                <div class="message received">
                    So with StartupCentral I can be invited to work on different projects if my skills fit their needs?
                </div>
                <div class="message sent">
                    Correct! You can also start your own projects, and with the use of machine learning we can recommend the perfect candidates for your project based on the tags on the project and a developer.
                </div>
                <div class="message received">
                    That's great! Is there room for me to work on StartupCental?
                </div>
                <div class="message received">
                    Of course! It appears that we could use your skills in backend development.
                </div>
                <div class="message sent">
                    Perfect! I can't wait to get started! Thank you!
                </div>
                <div class="message received">
                    Of course! Welcome to StartupCentral!
                </div>
            </div>
            <div class="message-input">
                <button>Send</button>
                <input type="text" placeholder="Say Something...">
            </div>
        </div>
    </div>
</div>
</body>
</html>