<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messaging - Startup Central</title>
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/css/tiles.css">
    <link rel="stylesheet" href="../static/css/messaging.css">
    <script src="../static/js/functions.js"></script>
</head>
<body onload="setUp();">
<nav class="nav nav-topbar">
    <a href="homepage.html" id="nav-home">Home</a>
    <a href="projects.html" id="nav-projects">Projects</a>
    <a class="nav-selected" href="messaging.html" id="nav-messaging">Messaging</a>
    <a href="profile.html" id="nav-profile">Profile</a>
    <a href="settings.html" id="nav-settings">Settings</a>
</nav>
<div id="content">
    <div class="messaging-window">
        <div class="messaging-contacts">
            <div class="contacts-header">Contacts</div>
            <div class="contact-cards-wrapper">
            <div class="contact-card current">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
            <div class="contact-card">
                <div class="contact-name">Bobby DropTables</div>
                <img src="../assets/linked_in_pfp.jpeg">
            </div>
        </div>
        </div>
        <div class="messaging-conversation">
            <div class="conversation-header">
                Bobby DropTables
            </div>
            <div class="conversation-content">
                <div class="message received">
                    Testing a Received Message
                </div>
                <div class="message sent">
                    Testing a Sent Message
                </div>
                <div class="message received">
                    Testing a long Received Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
                <div class="message sent">
                    Testing a long sent Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
                <div class="message sent">
                    Testing a long sent Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
                <div class="message sent">
                    Testing a long sent Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
                <div class="message sent">
                    Testing a long sent Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
                <div class="message sent">
                    Testing a long sent Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
                <div class="message sent">
                    Testing a long sent Message with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots
                    and lots and lots and lots and lots and lots and lots of words.
                </div>
            </div>
            <div class="message-input">
                <button>Send</button>
                <input type="text" placeholder="Say Something...">
            </div>
        </div>
    </div>
</div>
</body>
</html>