<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Startup Central</title>
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/css/tiles.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="../static/js/functions.js"></script>
    <script src="../static/js/factories.js"></script>
</head>
<body onload="setUp();">
<nav class="nav nav-topbar">
    <a href="homepage.html" id="nav-home">Home</a>
    <a href="projects.html" id="nav-projects">Projects</a>
    <a href="messaging.html" id="nav-messaging">Messaging</a>
    <a class="nav-selected" href="profile.html" id="nav-profile">Profile</a>
    <div class="settings-wrapper">
    <a onclick="this.classList.toggle('toggle')" id="nav-settings">Settings</a>
    <div id="settings-drop-down">
        <label class="light-mode-toggle">
            Light Mode
            <input type="checkbox" onclick="toggleLightMode()">
            <span class="slider round"></span>
        </label>
    </div>
    </div>
</nav>
<div id="content">
    <div class="profile-about">
        <div class="profile-desc">
            <h2>About Me:</h2>

            I am fullstack devloper.  I am familiar with databases, machine learning and comouter vision technologies.
            I am familiar with Azure, python, scala, fortran, java, javascript, SQL, C, C++, C#.


        </div>
        <img src="../assets/linked_in_pfp.jpeg">
    </div>
    <div class="profile-data">
        <div class="profile-tags">
            <h2>My Tags:</h2>
            <div class="tag">#Machine Learning</div>
            <div class="tag">#Database</div>
            <div class="tag">#Health technology</div>
            <div class="tag">#cloud computing</div>
            <div class="tag">#financial</div>

        </div>
        <div class="profile-projects">
            <h2>My Projects:</h2>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Physician Assistance app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                   Our company aims to create a healthcare assistance program.  We will be using a basic AI and machine
                        learning to have the program determine minute changes in a patient over time, this will
                        allow the treating physician to more accurately treat the patient.  It will also reduce
                        error in patient treatment information, increase accuracy of patient reporting in the
                        medical database.

                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Car auto-tuning</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company looks to develop a new application for automobiles that helps tune radio station channels
                    based on the customers phone data.

                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Employee retention app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company will be using machine learning to determine if current HR hiring practices result in
                    long term employee retention.  This will help companies reduce employee churn and reduce overhead.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Development metric application</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company is will be making a program for determining suitability of current construction projects
                    in a given area.  It will pull from publicly  available data and update in real time.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Insurance premium app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company will be making an application that gives insurance quotes for all insurance providers in
                    a certain area
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Research assist app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    We plan to streamline the grant application process by keeping a fully active database that gives users
                    constant updates on the current grants for research in their discipline with time links and conditions.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Health fitness app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company will be looking to create an exercise application that will learn peoples inital fitness
                    level and update the persons excerise list as they become more fit to alway keeps a positivre health
                    curve.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> In network app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our application will take doctors in a hospital and determine if they are in network for the patient.
                    It will link with the hospital to ensure that online in network providers meet the correct patients
                    and help reduce deliquency of patient accounts.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Radiologist Assist app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company is developing a program that will help radiologists determine minute changes in
                    patient scans, increasing the survivaility outcome and storing the images in the country database.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Structural Integrity Check app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our company is utiltizing drones to determine check for structural damage in buildings.  The drones
                    will send images back to the database for determination of structural integrity issues
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> Customs transit app</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    Our application will take the current routing data from shipping companies and automate the forms
                    requried for customs agencies when shipping across international borders.

                </div><img src="../assets/oop.jpg">
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>