<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Startup Central</title>
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/standard.css">
    <link rel="stylesheet" href="../static/css/tiles.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="../static/js/functions.js"></script>
    <script src="../static/js/factories.js"></script>
</head>
<body onload="setUp();">
<nav class="nav nav-topbar">
    <a href="homepage.html" id="nav-home">Home</a>
    <a href="projects.html" id="nav-projects">Projects</a>
    <a href="messaging.html" id="nav-messaging">Messaging</a>
    <a class="nav-selected" href="profile.html" id="nav-profile">Profile</a>
    <div class="settings-wrapper">
    <a onclick="this.classList.toggle('toggle')" id="nav-settings">Settings</a>
    <div id="settings-drop-down">
        <label class="light-mode-toggle">
            Light Mode
            <input type="checkbox" onclick="toggleLightMode()">
            <span class="slider round"></span>
        </label>
    </div>
    </div>
</nav>
<div id="content">
    <div class="profile-about">
        <div class="profile-desc">
            <h2>About Me:</h2>
            According to all known laws of aviation, there is no way a bee
                        should be able to fly. Its wings are too small to get its fat little body off the ground.
                        The bee, of course, flies anyway because bees don't care what humans think is impossible.
                        Yellow, black. Yellow, black.
                        Yellow, black. Yellow, black.
                        Ooh, black and yellow!
                        Let's shake it up a little.
        </div>
        <img src="../assets/linked_in_pfp.jpeg">
    </div>
    <div class="profile-data">
        <div class="profile-tags">
            <h2>My Tags:</h2>
            <div class="tag">#Its</div>
            <div class="tag">#The</div>
            <div class="tag">#Bee</div>
            <div class="tag">#Movie</div>
            <div class="tag">#Lol</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Its</div>
            <div class="tag">#The</div>
            <div class="tag">#Bee</div>
            <div class="tag">#Movie</div>
            <div class="tag">#Lol</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
            <div class="tag">#Anotha Tag</div>
        </div>
        <div class="profile-projects">
            <h2>My Projects:</h2>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
            <div class="row-tile recommendation tile-clickable">
            <div class="tile-name"> An Unnecessarily Long Title that is really really really long</div>
            <hr>
            <div>
                <div class="recommendation-desc">
                    According to all known laws of aviation, there is no way a bee
                    should be able to fly. Its wings are too small to get its fat little body off the ground.
                    The bee, of course, flies anyway because bees don't care what humans think is impossible.
                    Yellow, black. Yellow, black.
                    Yellow, black. Yellow, black.
                    Ooh, black and yellow!
                    Let's shake it up a little.
                </div><img src="../assets/oop.jpg">
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>