<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - Startup Central</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/standard.css">
    <link rel="stylesheet" href="/static/css/tiles.css">
    <link rel="stylesheet" href="/static/css/project_tab.css">
    <script src="/static/js/functions.js"></script>
    <script src="/static/js/factories.js"></script>
</head>
<body onload="search('')">
<nav class="nav nav-topbar">
    <a href="homepage" id="nav-home">Home</a>
    <a class="nav-selected" href="projects" id="nav-projects">Projects</a>
    <a href="messaging" id="nav-messaging">Messaging</a>
    <a href="profile" id="nav-profile">Profile</a>
    <div class="settings-wrapper">
    <a onclick="this.classList.toggle('toggle')" id="nav-settings">Settings</a>
    <div id="settings-drop-down">
        <label class="light-mode-toggle">
            Light Mode
            <input type="checkbox" onclick="toggleLightMode()">
            <span class="slider round"></span>
        </label>
    </div>
    </div>
</nav>
<div id="content">
    <div id="search-bar">
        <button>Search</button>
        <input type="text" placeholder="Find a Project...">
    </div>
    <div id="search-results">

    </div>
</div>

</body>
</html>