/* Generic Options */
$background-color-dark: #282a36; // Dracula Dark BG

/* Nav Bar Options */

$nav-color-dark: darkgreen;
$nav-hover-color-dark: #025302;
$button-border-color-dark: white;

$nav-color-light: lightgreen;
$nav-hover-color-light: darkgreen;
$button-border-color-light: black;