@use 'global_vars' as *;

/* Dark Mode Standard */

@mixin nav-mode($light-mode: false) {
  @if $light-mode {
    background-color: $nav-color-light;
  }
  @else {
    background-color: $nav-color-dark;
  }
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
  a {
    width: 6rem;
    height: 100%;
    @if $light-mode {
      border-left: 1px solid $button-border-color-light;
    }
    @else {
      border-left: 1px solid $button-border-color-dark;
    }
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    color: #f8f8f2;
  }
  a:hover {
    @if $light-mode {
      background-color: $nav-hover-color-light;
    }
    @else {
      background-color: $nav-hover-color-dark;
    }
  }
  a.nav-selected {
    background-color: inherit;
    height: 110%;
  }
  #nav-home {

    @if $light-mode {
      border-left: 1px solid $button-border-color-light;
    }
    @else {
      border-right: 1px solid $button-border-color-dark;
    }

  }
  input {
    margin-right: auto;
  }
}

nav {
  @include nav-mode($light-mode: false)
}

nav.light-mode {
  @include nav-mode($light-mode: true)
}